@use './../variables' as *;
form#student,
form#teacher,
form#department {
	@media screen and (max-width: 750px) {
		.form {
			&-item {
				width: 45% !important;
			}
		}
	}
	@media screen and (max-width: 500px) {
		.form {
			&-item {
				width: 95% !important;
			}
		}
	}
	& .form {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;

		&-item {
			width: 30%;
			// border: 1px solid red;
			input,
			select {
				padding: 1.5rem 1rem;
				border-radius: 0.5rem;
				width: 100%;
				box-sizing: border-box;
				outline: none;
				border: 1px solid $color-grey;
				background-color: $color-white;
				font-size: 1.4rem;
				&:focus {
					outline: 2px solid $color-primary;
				}
				option {
					font-size: 1.4rem;
					padding: 1rem;
					&:first-child {
						border-radius: 0.4rem 0.4rem 0rem 0rem;
					}
					&:last-child {
						border-radius: 0rem 0rem 0.4rem 0.4rem;
					}
				}
			}
			select[multiple] option:checked {
				color: $color-white;
				background-image: linear-gradient(
					0deg,
					$color-primary 0%,
					$color-primary 100%
				);
			}
			span.desc {
				display: inline-block;
				// border: 1px solid blue;
				padding: 0 0.5rem;
				color: $color-black;
				font-size: 1.3rem;
				transform: translateY(50%);
				background-color: $color-white;
				margin-left: 1rem;
				text-transform: capitalize;
				em {
					color: red;
				}
			}
		}
		&-file {
			width: 100%;
		}
	}
}

.table-form {
	table.marks {
		border-collapse: collapse;
		thead {
			background-color: $color-primary;
			color: $color-white;
		}
		tr {
			border: 1px solid $color-primary !important;
			td,
			th {
				text-align: center;
				border: 1px solid $color-primary;
				padding: 0.5rem;
			}
			input {
				width: 100%;
				box-sizing: border-box;
				text-align: center;
				border: none;
				outline: none;
				padding: 0.5rem;
			}
		}
	}
}
