@use './../variables' as *;
form#student,
form#teacher,
form#department {
	@media screen and (max-width: 750px) {
		.form {
			justify-content: center;
			&-item {
				width: 45% !important;
			}
		}
	}
	@media screen and (max-width: 500px) {
		.form {
			justify-content: center;
			&-item {
				width: 95% !important;
			}
		}
	}
	& .form {
		display: flex;
		gap: 2rem;
		flex-wrap: wrap;
		align-items: flex-end;

		&-item.textarea {
			width: calc(90% + 4rem) !important;
		}
		&-item {
			width: 30%;
			input,
			select,
			textarea {
				padding: 1.5rem 1rem;
				border-radius: 0.5rem;
				width: 100%;
				box-sizing: border-box;
				outline: none;
				border: 1px solid $color-grey;
				background-color: $color-white;
				font-size: 1.4rem;
				&:focus {
					outline: 2px solid $color-primary;
				}
				option {
					font-size: 1.4rem;
					padding: 1rem;
					&:first-child {
						border-radius: 0.4rem 0.4rem 0rem 0rem;
					}
					&:last-child {
						border-radius: 0rem 0rem 0.4rem 0.4rem;
					}
				}
			}
			textarea {
				// width: 100% !important;
				resize: none;
				box-sizing: border-box;
			}
			select[multiple] option:checked {
				color: $color-white;
				background-image: linear-gradient(
					0deg,
					$color-primary 0%,
					$color-primary 100%
				);
			}
			span.desc {
				display: inline-block;
				// border: 1px solid blue;
				padding: 0 0.5rem;
				color: $color-black;
				font-size: 1.3rem;
				transform: translateY(50%);
				background-color: $color-white;
				margin-left: 1rem;
				text-transform: capitalize;
				em {
					color: red;
				}
			}
		}
		&-file {
			width: 100%;
		}
	}
}

.table-form {
	table.marks {
		border-collapse: collapse;
		table-layout: auto;
		width: fit-contents;
		min-width: 900px;
		thead {
			background-color: $color-primary;
			color: $color-white;
		}
		tr {
			border: 1px solid $color-primary !important;
			td,
			th {
				text-align: center;
				border: 1px solid $color-primary;
				padding: 0.5rem;
			}
			th.sort-name {
				.text {
					margin-left: 3rem;
				}
				svg {
					transform: rotate(90deg);
				}
				@media print {
					svg {
						display: none;
					}
				}
			}
			td.stud-name {
				text-align: left;
				padding-left: 2rem;
				text-transform: uppercase;
			}
			input {
				width: 100%;
				box-sizing: border-box;
				text-align: center;
				border: none;
				outline: none;
				padding: 0.5rem;
			}
		}
	}
}

.timetable-file {
	border: 4px dashed $color-primary-light;
	width: calc(90% + 4rem) !important;
	border-radius: 0.4rem;
	cursor: pointer;
	& input[type='file'] {
		display: none;
	}

	& .file-info {
		text-align: center;
		background-color: $color-grey-light;
		padding: 1rem;
		border-radius: 0.4rem;
		color: $color-grey;
		margin: 0.5rem 2rem;
	}
}
.form-file {
	& .file-error {
		color: $color-failed !important;
		font-weight: bolder;
		font-size: 2rem;
	}

	& .progress {
		width: calc(90% + 5rem);
	}
}
