@use './../variables' as *;
table{
  width: 100%;
}
.table{
  display: flex;
  // width: 100%;
  padding: 1rem;

  & .timetable{
    margin-right: auto;


    & h4{
      margin: 0.5rem;
    }
    & p{
      margin: 0.5rem;
      font-weight: 200;
    }
    & ul li{
      list-style-type: none;
      display: inline;
      font-size: 1.5rem;
      margin: 0.5rem;
      font-weight: 200;
    }
    .fa{
      color: $color-grey-dark;
    }

  }

  & .confirm{
    display: flex;
    flex-direction: column;

    & button{
      margin: 0.5rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.4rem;
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
