@use './../variables' as *;

.table{
  display: flex;
  width: 450px;
  padding: 15px;

  & .timetable{
    margin-right: auto;

    & h4{
      margin: 5px;
    }
    & p{
      margin: 5px;
      font-weight: 200;
    }
    & ul li{
      list-style-type: none;
      display: inline;
      font-size: 15px;
      margin: 5px;
      font-weight: 200;
    }

  }

  & .confirm{
    display: flex;
    flex-direction: column;

    & button{
      margin: 5px;
      padding: 5px;
      border: none;
      border-radius: 4px;
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
