@use './../variables' as *;

.loading-page {
  background-color: $color-grey-light;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-page span {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background-color: $color-primary;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading-page span:nth-child(2) {
  background-color: $color-primary;
  animation-delay: 0.4s;
}

.loading-page span:last-child {
  background-color: $color-primary;
  animation-delay: 0.7s;
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px);
  }
}