@use './../variables' as *;

.pagging {
	display: flex;
	align-items: center;

	span.text {
		margin-right: auto;
	}
	&-links {
		display: flex;
		align-items: center;

		a {
			padding: 0.5rem.75rem;
			border: 1px solid $color-primary;
			text-decoration: none;
			transition: 0.3s all;
			font-size: 1.3rem;
			&:hover {
				color: $color-white;
				background-color: $color-primary;
			}
		}
		a.page-active {
			color: $color-white;
			background-color: $color-primary;
		}
	}
}

.entries {
	color: $color-grey;
	display: flex;
	align-items: center;
	gap: 1rem;
	select {
		border: 1px solid $color-grey;
		color: $color-grey;
		outline: none;
	}
}
