.page-header {
  display: flex;
  padding: 20px;

  & h1 {
    margin-right: auto;
    font-weight: 600;
    margin-bottom: 5px;
  }

  & ul li {
    display: inline;
    list-style-type: none;
    padding: 5px;
    color: #495057;
  }
}