@use './../variables' as *;

.school-grading {
	gap: 2rem;
	flex-direction: column !important;
	align-items: flex-start;
	margin-bottom: 2rem;
	.other-info {
		align-self: center;
		display: flex;
		margin-top: 2rem;
		.info {
			display: flex;
			gap: 1rem;

			b,
			a {
				text-decoration: underline;
				color: $color-primary;
			}
		}
	}
	.registrar {
		margin-top: 15rem;
		align-self: center;
		span {
			font-size: 2.5rem;
			font-weight: bolder;
		}
	}
	table {
		table-layout: fixed !important;
		width: 40% !important;

		tr {
			td,
			th {
				font-size: 1rem !important;
				b {
					color: $color-primary;
				}
			}
		}
	}
}
