@use './../variables' as *;

.school-grading {
	gap: 2rem;
	.other-info {
		display: flex;
		flex-direction: column;
		align-self: self-end;

		p {
			b {
				color: $color-primary;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			b,
			a {
				text-decoration: underline;
				color: $color-primary;
			}
		}
		.registrar {
			margin-top: 3rem;
			span {
				font-size: 3.8rem;
			}
		}
	}
	table {
		table-layout: fixed !important;
	}
}
