@use './../variables' as *;

.school-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;

	img {
		height: 8rem;
		width: 8rem;
	}
	.section-1,
	.section-2 {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
