@use './../variables' as *;

.school-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;

	img {
		height: 16rem;
		width: 16rem;
	}
	.section-1,
	.section-2 {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 35%;
		div {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-transform: uppercase;
			gap: 1rem;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0;
				text-align: center;
				// max-width: 38rem;
			}
		}
	}
}
