@use './../variables' as *;
.search-category {
	display: flex;
	align-items: center;
	gap: 3rem;
	input,
	select {
		padding: 1.3rem 1.2rem;
		width: 24%;
		font-size: 1.7rem;
		font-family: inherit;
		color: $color-grey;
		border: 1px solid rgba($color-grey, 0.3);
		border-radius: 0.2rem;
		::placeholder {
			color: $color-grey;
		}
		&:focus {
			outline: 2px solid $color-primary;
		}
	}
	button {
		justify-content: space-between !important;
	}
}
@media only screen and (max-width: 500px) {
	.search-category {
		flex-direction: column;
		align-items: stretch;
		gap: 1.5rem;
		input,
		select {
			width: 100%;
			box-sizing: border-box;
		}
	}
}

input.input {
	font-family: Josefin Sans;
}
