@use './../variables' as *;

.signal {
	position: absolute;
	right: 0rem;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 2rem;
	font-size: 1.8rem;
	transition: all 0.4s;
	z-index: 21;
	& .icon {
		font-size: 5rem;
		height: 3rem;
		width: 3rem;
	}
	&.success {
		background-color: rgba($color-success, 0.5);
		bottom: 0rem;
		width: 30rem;
		color: darken($color-success, 0.5);
	}
	&.failed {
		bottom: 0rem;
		background-color: rgba($color-failed, 0.5);
		width: 30rem;
		color: darken($color-failed, 0.5);

		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.msg {
				color: #ffffff;
			}
		}
	}
}
