@use './../variables' as *;

.social {
	display: flex;
	width: 24rem;
	padding: 1rem;
	align-items: center;
	height: 8rem;
	border-radius: 2rem;
	background-color: $color-white;
}
.info {
	margin-right: auto;

	& h4 {
		margin-bottom: 0.5rem;
		margin: 1rem;
		font-size: 1.8rem;
	}
	& h6 {
		font-weight: bolder;
		margin: 1rem;
		font-size: 1.8rem;
	}
}
.overview-headings {
	& h4 {
		font-size: 2.2rem;
		margin: 1rem;
		color: $color-grey-dark;
	}
	& h6 {
		font-size: 2rem;
		margin: 1rem;
		color: $color-grey-dark;
	}
}
.icon {
	height: 50px;
	width: 50px;
	justify-content: center;
	align-items: center;
	font-size: 30px;

	& span {
		background-color: $color-primary;
		display: flex;
		height: 50px;
		align-self: center;
		justify-self: center;
		width: 50px;
		border-radius: 5px;

		& .overview-icon {
			color: $color-white;
			align-self: center;
		}
	}
}
.media {
	display: flex;
	height: 50px;
	width: 50px;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	background-color: $color-white;

	& span {
		align-self: center;
		display: block;
		height: 30px;
		width: 30px;
		border-radius: 5px;
	}

	& .media-icon {
		height: 30px;
		width: 30px;
	}
}
.stud-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img.school-logo {
		height: 17rem;
		width: 17rem;
	}
	& .section {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-width: 35%;
		div {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-transform: uppercase;
			gap: 1rem;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0;
				text-align: center;
				// max-width: 38rem;
			}
			.prop {
				// width: 25rem;
				color: $color-primary;
			}
			.value {
				max-width: 40rem;
			}
		}
	}
}

.student-detail-results {
	.results {
		& td {
			text-transform: uppercase;
		}

		& .title {
			background-color: $color-primary;
			color: $color-white;

			&-border:not(:last-child) {
				border-bottom: 1px solid $color-white !important;
			}
		}
	}
}
