@use './../variables' as *;

table {
	&.standard {
		border-collapse: collapse;
		width: 100%;
		tr {
			// border: 1px solid black;
			// padding: 3rem 0rem !important;
			&:nth-child(odd) {
				background-color: $color-grey-light;
			}
			th {
				// text-align: center;

				& svg {
					transform: rotate(90deg);
					color: $color-grey;
					&:hover {
						cursor: pointer;
					}
				}
			}

			th.sorted {
				& svg {
					color: $color-primary;
				}
			}
			th,
			td {
				text-align: left;
				padding: 1rem 0rem;
				// padding-left: .3rem;
				// border: 1px solid blue;
				// padding: 0 ;

				&:first-child {
					padding-left: 1.5rem;
				}
			}
			td {
				& .profile {
					display: flex;
					align-items: center;
					gap: 1rem;
					img {
						height: 5rem;
						width: 5rem;
						border-radius: 100%;
					}
				}

				&:last-child {
					div.actions {
						display: flex;
						// justify-content: center;
						align-items: center;
						gap: 4rem;

						a {
							// border: 1px solid black;
							height: 3rem;
							width: 3rem;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 100%;
							// background-color: $color-grey;
							text-decoration: none;
							color: $color-grey;

							background-color: $color-grey-light;
						}
					}
					a {
						// border: 1px solid black;
						// height: 3rem;
						// width: 3rem;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 100%;
						// background-color: $color-grey;
						text-decoration: none;
						color: $color-grey;

						background-color: $color-grey-light;
					}
				}
			}
		}
		.course--row {
			td,
			th:not(:last-child) {
				text-align: center !important;
			}
		}
		tr.head {
			background-color: darken($color-grey-light, 2%);
			th {
				text-transform: capitalize;
				padding: 2rem 1rem;
				span.text {
					margin-left: 1.5rem;
				}
			}
		}
	}
}
