@use './../variables' as *;

table {
	&.standard {
		border-collapse: collapse;
		width: 100%;
		tr.stud {
			th {
				text-align: center;
			}
		}
		tr {
			// border: 1px solid black;
			// padding: 3rem 0rem !important;
			&:nth-child(odd) {
				background-color: $color-grey-light;
			}
			th {
				// text-align: center;

				& svg {
					transform: rotate(90deg);
					color: $color-grey;
					&:hover {
						cursor: pointer;
					}
				}
			}

			th.sorted {
				& svg {
					color: $color-primary;
				}
			}
			// th.students
			& td.checkbox {
				padding: 20px 10px !important;
			}
			th,
			td {
				text-align: left;
				padding: 1rem 0rem;
				text-transform: uppercase;
				font-size: 1.4rem;
				&:first-child {
					padding-left: 1.5rem;
				}
				& .checkbox {
					padding: 20px 10px !important;
				}
				& input[type='checkbox'] {
					height: 2rem;
					width: 2rem;
					appearance: none; /* Disable the native styling */
					-webkit-appearance: none; /* For better support in WebKit browsers */
					-moz-appearance: none; /* For better support in Mozilla browsers */
					background-color: white; /* Default background color */
					cursor: pointer; /* Change the cursor to pointer */
					display: inline-block;
					position: relative;
					border-radius: 100%;
					border: 1px solid $color-grey !important;
					text-align: center;

					&:checked {
						// background-color: $color-primary !important;
						// color: $color-white;

						background-color: #2d67dd; /* Background color when checked */
					}

					&:checked::after {
						content: '';
						position: absolute;
						top: 45%;
						left: 50%;
						width: 0.6rem;
						height: 1rem;
						border: solid white;
						border-width: 0 0.4rem 0.4rem 0;
						transform: translate(-50%, -50%) rotate(45deg);
					}
				}
			}
			td {
				& .profile {
					display: flex;
					align-items: center;
					gap: 1rem;
					img {
						height: 5rem;
						width: 5rem;
						border-radius: 100%;
					}
				}

				&:last-child {
					div.action-special {
						justify-content: center;
					}
					div.actions {
						display: flex;
						// justify-content: center;
						align-items: center;
						gap: 2rem;

						a {
							// border: 1px solid black;
							height: 3rem;
							width: 3rem;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 100%;
							// background-color: $color-grey;
							text-decoration: none;
							color: $color-grey;

							background-color: $color-grey-light;
						}
					}
					div.results {
						justify-content: center;
					}
					a {
						// border: 1px solid black;
						// height: 3rem;
						// width: 3rem;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 100%;
						// background-color: $color-grey;
						text-decoration: none;
						color: $color-grey;

						background-color: $color-grey-light;
					}
				}
			}
		}
		.course--row {
			td,
			th:not(:last-child) {
				text-align: center !important;
			}
		}
		tr.head {
			background-color: darken($color-grey-light, 2%);
			th {
				text-transform: capitalize;
				padding: 2rem 1rem;
				span.text {
					margin-left: 1.5rem;
				}
			}
		}
	}
	&.results {
		text-align: center;
		border-collapse: collapse;
		thead {
			border: 2px solid $color-primary;
			tr {
				background-color: $color-primary;
				color: $color-white;
				th {
					padding: 1rem 0;
					border: 1px solid $color-white;
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 1rem 0;
					border: 1px solid $color-primary;
				}
			}
		}
	}
}
.total-gpa {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& table.gpa {
		text-align: center;
		border-collapse: collapse;
		width: 25%;
		thead {
			border: 2px solid $color-primary;
			tr {
				background-color: $color-primary;
				color: $color-white;
				font-size: 2rem;
				th {
					padding: 3rem 0;
					&:first-child {
						border-right: 1px solid $color-white;
					}
				}
				th.gpa-value {
					background-color: $color-grey-light;
					color: $color-black;
					letter-spacing: 3px;
				}
			}
		}
	}
	& table.results-total {
		text-align: center;
		border-collapse: collapse;
		table-layout: auto !important;
		width: 60%;
		thead {
			border: 2px solid $color-primary;
			tr {
				background-color: $color-primary;
				color: $color-white;
				th {
					padding: 1rem 0;
					border: 1px solid $color-white;
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 1rem 0;
					border: 1px solid $color-primary;
				}
				th {
					padding: 1rem 0;
					background-color: $color-primary;
					color: $color-white;
					border: 1px solid $color-primary;
					border-left: 2px solid $color-primary;
					border-right: 1px solid $color-white;
				}
			}
		}
	}
}
