@use './../variables' as *;

.auth {
	background-color: $color-primary-dark;
	display: flex;
	align-items: center;
	height: 100vh;
	overflow: hidden;

	& .form {
		width: 30vw;
		height: 100vh;
		border: 0.1rem solid $color-grey;
		margin-right: 100px;
		display: flex;
		flex-direction: column;
		padding: 30px;
		background: $color-white;
		// margin-top: 3rem;

		& img {
			display: none;
		}

		& h1 {
			font-size: 4rem;
		}
		& label {
			display: block;
			// padding: 5px;
			margin: 0.5rem 0;
		}
		& input,
		& select {
			height: 20px;
			width: 350px;
			border: 1px solid #333;
			padding: 1.5rem;
			outline: none;
			border-radius: 0.5rem;
			font-size: 1.8rem;
		}

		& .email,
		& .password {
			margin: 2rem 0;
		}
		& .password {
			margin: 4rem 0;
		}
		label {
			font-size: 1.7;
			text-transform: capitalize;
		}
		& button {
			display: block;
			margin-top: 10px;
			width: 100px;
			height: 30px;
			border: none;
			color: $color-white;
			background-color: $color-primary;
		}
	}

	& .forgot {
		display: flex;
		align-items: center;
		// padding: 5px;
		margin-top: 10px;

		& button {
			margin-right: auto;
			font-size: 2rem;
			padding: 1.5rem;
			width: 20rem;
			height: 5rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& a {
			text-align: end;
			// margin-left: 20px;
			text-decoration: none;
			color: $color-primary-light;
		}
	}
}

@media only screen and (max-width: 500px) {
	.auth {
		background-color: $color-white;
		& .form {
			width: 100vw;
			padding: 3rem;
			margin-right: 0;

			& img {
				width: 20rem;
				margin-top: 5rem;
				display: block;
			}

			& h1 {
				font-size: 6rem;
				text-align: center;
			}

			& p {
				font-size: 2.2rem;
			}

			& .email,
			& .password {
				padding-right: 4rem;
				label {
					font-size: 1.7;
					text-transform: capitalize;
				}
				& input,
				& select {
					box-sizing: content-box;
					height: 20px;
					width: 100%;
					border: 1px solid #333;
					padding: 1.5rem;
					outline: none;
					border-radius: 0.5rem;
					font-size: 1.8rem;
				}
			}
		}
	}
}
