@use './../variables' as *;
.soon {
	height: 100vh;
	width: 100vw;
	position: relative;
	& .text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 10rem;
		font-weight: bolder;
		color: $color-primary;
		width: 100%;
		text-align: center;
		span {
			font-size: 6rem;
			margin-right: 1rem;
		}
		button.btn {
			padding: 1.5rem 3rem;
			color: $color-white;
			background-color: $color-primary;
			border: none;
			border-radius: .5rem;
			cursor: pointer;
			font-size: 2.4rem;
			
		}
	}
}
