@use './../variables' as *;

* {
  padding: 0;
  margin: 0;
}

/* stylng the whole body of the page */

.dashboard-body {
  background-color: #f7f7fa;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}

/* styling the header pf the page */

.page-header {
  display: flex;
  padding: 20px;

}

.page-header h1 {
  margin-right: auto;
  font-weight: 600;
  margin-bottom: 5px;
}

.page-header ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  color: #495057;
}

.page-header li a {
  text-decoration: none;
  cursor: pointer;
  color: #495057;
}
/* styling the overview of the school with summary and all */

.school-overview,
.social-media {
  columns: 4 200px;
  padding: 20px;
  gap: 20px;
}
.overview,
.social {
  display: flex;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

/* styling the star student cards and student activity card */
.card {
  display: flex;
  padding: 5px;
  flex-shrink: 0;
}

.card_body {
  border-radius: 20px;
  margin: 20px;
  width: 100%;
  background-color: #fff;
}

.star_students,
.activity {
  padding: 15px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.star_students h5,
.activity h5 {
  font-size: 25px;
  margin-right: auto;
}

.star_students a,
.activity a {
  text-decoration: none;
  cursor: pointer;
  color: #495057;
  background-color: #f8f9fa;
}

.table {
  position: relative;
  padding: 20px;
  height: 100%;
}

.table table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  padding-bottom: 0;
}

th,
td {
  text-align: left;
}

.centered-text {
  text-align: center;
}

td:last-child,
th:last-child {
  text-align: right;
}

th {
  color: #495057;
  font-weight: bolder;
  background-color: #f8f9fa;
  border-color: #eff2f7;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 10px;
}

td {
  padding: 10px;
  
  & a{
    text-decoration: none;
    color: #495057;
    cursor: pointer;
    align-self: center;
    justify-self: center;
  }
  & img{
    height: 30px;
    align-self: center;
    width: 30px;
    border-radius: 100%;
    margin-right: 5px;
  }
}

.flex{
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Styling the student activity div */

.activity-body {
  width: 100%;
}

.student_activity {
  padding: 25px;
}

.activity-awards {
  display: flex;
  width: 100%;
}

.award-details {
  margin-right: auto;
  padding: 15px;
}

.activity-awards img {
  display: inline;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.activity-awards h4 {
  font-size: 14px;
  display: block;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.activity-awards h5 {
  font-size: 13px;
  font-family: sans-serif;
  display: block;
  font-weight: lighter;
}

.award-time {
  background-color: #fff9ed;
  font-size: 11px;
  height: 15px;
  padding: 5px;
  border-radius: 7px;
}

/* styling the social media things */
/* remember that some styles are gotten from above, from the overview class */

.social {
  color: #fff;
}

/* styling the footer */
footer {
  text-align: center;
  font-size: 3rem;
  background-color: #fff;
  padding: 20px;
  margin: 0;
  text-transform: uppercase;

  & h4{
    font-weight: 400;
    font-size: 13px;
    color: #495057;
  }
}
