@use './../variables' as *;

/* stylng the whole body of the page */

.dashboard-body {
  background-color: #f7f7fa;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

/* styling the overview of the school with summary and all */

.school-overview,
.social-media{
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.overview,
.social{
  background-color: $color-white;
  border-radius: 1.5rem;
  width: 24rem;
  height: 8rem;
  gap: 3rem;
  justify-content: space-evenly;
  display: flex;
  padding: 1rem;
}

.social-media{
  margin-bottom: 3rem;
  border: 1px solid red;
}
/* styling the star student cards and student activity card */
.card {
  display: flex;
  padding: 0.5rem;
  gap: 3rem;
  flex-shrink: 0;
}

.card_body {
  border-radius: 2rem;
  margin: 2rem 0;
  width: 100%;
  background-color: #fff;

  & .card-title{
    font-size: 2rem;
    
    margin-top: 0.5rem;
    padding: 1rem;
    padding-left: 1.5rem;
  }
}
/* styling the social media things */
/* remember that some styles are gotten from above, from the overview class */

.social {
  color: #fff;
}

/* styling the footer */
footer {
  text-align: center;
  font-size: 3rem;
  background-color: #fff;
  padding: 2rem;
  margin: 0;
  text-transform: uppercase;

  & h4{
    font-weight: 400;
    font-size: 1.3rem;
    color: #495057;
  }
}
