@use './../variables' as *;

.students {
	// border: 1px solid red;
	background-color: $color-white;
	padding: 2.5rem 3rem;
}

@media only screen and (max-width: 500px){
	.students{
		margin-left: -3rem;
		margin-right: -3rem;
	}
}