@use './../variables' as *;
// styling the events side bar
.semester {
	display: flex;
	margin: 3rem 1rem;
	gap: 4rem;

	.activity {
		display: flex;
		flex-direction: column;
		border-radius: 15px;
		// margin-right: auto;
		padding: 0;
		width: 65%;

		& .lesson-progress {
			display: flex;
			gap: 3rem;
			width: 100%;

      
      & .lessons{
        background-color: $color-white;
        width: 70%;
        border-radius: 1.5rem;
        padding: 1rem;

        & h3{
          text-align: center;
          color: $color-grey-dark;
          padding: 1rem;
          font-size: 2rem;
        }
      }
      & .progress{
        background-color: $color-white;
        padding: 1rem;
        width: 27%;
        border-radius: 1.5rem;

        & h5{
          font-size: 2rem;
          color: $color-grey-dark;
        }
      }
    }

		& .statistics {
			background-color: $color-white;
			border-radius: 15px;
			width: 100%;
			height: 5rem;
			margin: 20px 0;
			text-align: center;
		}

    & .history{
      background-color: $color-white;
      border-radius: 1.5rem;
      width: 100%;
      padding: 1rem;

      & h3{
        text-align: center;
        color: $color-grey-dark;
        padding: 1rem;
        font-size: 2rem;
      }
    }
}

  & .side-bar{
    background-color: $color-white;
    align-items: center;
    width: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    
    & .cal-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 1rem;
     width: 100%;
 
      & h3{
        text-align: center;
        color: $color-grey-dark;
        padding: 1rem;
        font-size: 2rem;
      }
      
    }
  }
  
}

