@use './../variables' as *;

.view-body{
  padding: 2.5rem;
  background-color: $color-white;
  border-radius: 1.5rem;
  margin-bottom: 3rem;

  & .profile-head{
    
    & h1{
      margin: 1rem 0;
      font-weight: 500;
      font-size: 2.5rem;
    }
  }
  & .profile_bg{
    background-color: $color-grey-light;

    & .bg-pic{
      width: 100%;

      & img{
       display: block;
       border-radius: 1.5rem;
       width: 100%;
      }
    }
    & .profile-info{
      display: flex;
      gap: 2rem;
      height: 12rem;
      width: 100%;
      justify-content: space-evenly;
    
      & .teacher-info{
        display: flex;
        gap: 8rem;
        height: 100%;
        width: 30%;

        & .pic{
         position: relative;
         box-sizing: border-box;
         border: 0.9rem solid $color-white;
         border-radius: 100%;
         margin: 0;
         text-align: center;
         top: -30px;
   
         & img{
           display: block;
           border-radius: 50%;
           height: 100%;
           width: 100%;
           z-index: -5;
         }
        }

        & .teacher-details{
           display: flex;
           width: 40%;
           flex-direction: column;
           justify-content: center;
  
           & h2{
            font-size: 1.8rem;
            margin: 0.5rem 0;
          }
          
          & h3{
            font-size: 1.5rem;
            margin: 0.5rem 0;
            color: $color-grey-dark;
           }
         }
      }


      & .followers{
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         gap: 3rem;
         width: 30%;


       }

      & .profile-action{
         width: 25%;
         text-align: center;
         display: flex;
         align-items: center;

         & button{
          font-family: $font-styles;
          width: 10rem;
          height: 3rem;
          margin: 3rem 2rem;
          border-radius: 0.5rem;
          border: none;
          background-color: $color-primary;
          color: $color-white;

          &:hover{
            cursor: pointer;
          }
         }
       }
     }


  }

  & .profile-information{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;

    & .details-skills{
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      
      & .details{
        border: 0.2rem solid $color-grey-light;
        border-radius: 1.5rem;
        padding-left: 1rem;

        & h1{
          font-size: 2.5rem;
          margin: 2rem;
        }
      }

      & .skills{
        border: 0.2rem solid $color-grey-light;
        border-radius: 1.5rem;
        padding-left: 2rem;
      }
      
    }

    & .about-me{
      border: 0.2rem solid $color-grey-light;
      border-radius: 1.5rem;
      width: 70%;
      line-height: 1.7;
      box-sizing: border-box;
      padding: 0 2rem;
      align-self: flex-start;

      & h1{
        font-size: 2.5rem;
      }
      & h2{
        font-size: 1.8rem;
      }
      
      & p{
        text-align: justify;
      }
    }
  }
}


