@forward './student';
@forward './teacher';
@forward './auth_forms';
@forward './dashboard';
@forward './teacher_dashboard';
@forward './error';
@forward './comming_soon';
@forward './teacher_view';
@forward './stud_print';
