@use './variables' as *;

@media print {
	.button-marks,
	nav.main-nav,
	nav.left-nav,
	div.section-intro h1,
	div.section-main-intro,
	.no-display,
	.arrow-up {
		display: none !important;
	}
	.sem {
		display: block !important;
	}
	div.section-intro {
		text-align: center;
		// width: 100%;
		position: absolute;
		top: 35rem;
		left: 50%;
		transform: translateX(-50%);

		& .main-sub-title {
			display: none;
		}
	}
	.table-form table {
		table-layout: auto;
		position: absolute;
		top: 40rem;
		left: 0px;
		width: 100%;
	}
	.table-form-modified {
		table.marks-statistics {
			top: 60rem;
		}

		h1.title {
			top: 36rem;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
		}
		h2.title {
			top: 32rem;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
		}
	}
	.table-form {
		width: 100%;

		.school-header {
			position: absolute;
			top: 2rem;
			left: 0px;
			width: 100%;
		}
	}
	.result-info {
		position: absolute;
		top: 55rem;
		left: 0px;
		width: 100%;
		font-size: 1.3rem !important;
		page-break-after: always;

		.gpa {
			// background-color: red;
			thead {
				tr {
					font-size: 1.5rem !important;
				}
			}
		}
	}
	.print-student-title {
		page-break-after: always !important;
		padding-top: 22rem !important;
	}
	.no-position {
		position: relative !important;
		top: auto;
	}

	.student-detail-results {
		position: absolute;
		top: 0rem;
		left: 0px;
		width: 100%;

		.results {
			& td {
				text-transform: uppercase;
			}
		}
	}

	.stud-info {
		& .section {
			div {
				.prop {
					width: fit-content !important;
					color: $color-primary;
					font-size: 1.3rem;
				}
				.value {
					max-width: 40rem;
					font-size: 1.3rem;
				}
			}
		}
	}
}
