@use './variables' as *;
.button-main {
	border: none;
	outline: none;
	border-radius: 0.5rem;
	background-color: $color-primary;
	color: $color-white;
	padding: 0.8rem 1.3rem;
	font-size: 1.7rem;
	font-weight: bolder;
	cursor: pointer;
	text-transform: capitalize;
	font-family: $font-styles;
	span span &-small {
		padding: 1rem 1rem;
	}

	&-medium {
		padding: 1rem 3rem;
		font-size: 2rem !important;
		// text-transform: uppercase;
		font-family: inherit;
	}
}

.mg {
	&-top {
		margin-top: 2rem;
		&-md {
			margin-top: 4rem;
		}
		&-lg {
			margin-top: 6rem;
		}
	}
	&-bt {
		margin-bottom: 2rem;
		&-md {
			margin-bottom: 4rem;
		}
		&-lg {
			margin-bottom: 6rem !important;
		}
	}
	&-left {
		margin-left: 0.5rem;

		&-lg {
			margin-left: 4rem;
		}
	}
}

.image-pic {
	&__mini {
		height: 2.5rem;
		width: 2.5rem;
	}
	&__small {
		height: 4rem;
		width: 4rem;
	}
	&__medium {
		height: 6rem;
		width: 6rem;
	}
	&__large {
		height: 8rem;
		width: 8rem;
	}
}

.rounded {
	border-radius: 100%;
	border: none;
	outline: none;

	&__small {
		border-radius: 0.8rem;
	}
}

.header {
	&-tertiary {
		margin: 0;
		padding: 0;
		font-size: 1.6rem;
	}
	&-secondary {
		&.center {
			text-align: center;
		}
		margin: 0;
		padding: 0;
		// font-size: 1.6rem;
	}
	&-primary {
		margin: 0;
		padding: 0;
	}
}

::placeholder {
	color: $color-grey;
}
::selection {
	background-color: $color-primary;
	color: $color-white;
}

.input {
	border: none;
	outline: none;
	font-size: 1.4rem;
}
.logo {
	font-family: $font-logo-styles !important;
	font-size: 3rem;
	text-transform: uppercase;
	background: linear-gradient(
		to right,
		$color-primary,
		$color-primary-light,
		$color-primary-dark
	);
	background-clip: text;
	color: transparent;
	&-pic {
		height: 6rem;
		width: 6rem;
	}
}
@media only screen and (max-width: 500px) {
	span.logo {
		display: none !important;
	}
}
.flex-align {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.gap {
	gap: 2rem;
	&-sm {
		gap: 3rem;
	}

	&-lg {
		gap: 4rem;
	}
}

.icons {
	font-size: 2rem;
	cursor: pointer;
}

.caps {
	text-transform: capitalize;
}

.capitalize {
	text-transform: capitalize;
}

.button-marks {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;

	&__flex {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
}

.line {
	border-bottom: 4px solid $color-primary !important;
}

.email {
	text-transform: lowercase !important;
}

.delete {
	color: $color-failed;
}
.view {
	color: $color-primary;
}
.edit {
	color: $color-success;
}

.promoted {
	background-color: $color-success !important;
}
.demote {
	background-color: $color-failed !important;
}

.center {
	text-align: center;
	color: $color-primary;
	text-transform: capitalize;
}
.report-title {
	border: 3px solid $color-primary;
	padding: 1rem;
	border-radius: 1rem;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
}

.border {
	border: 3px solid $color-primary;
}

.flex-gap {
	display: flex;
	gap: 2rem;
}

@media only screen and (max-width: 1020px) {
	.main-table-container {
		overflow-x: scroll !important;
	}
}
