//COLORS

$color-primary: #2d67dd;
$color-primary-light: #5580d6;
$color-primary-dark: #034bdc;

$color-grey: #978f8f;
$color-grey-light: #f6f6f9;
$color-grey-dark: #6f6f6f;

$color-white: #fff;
$color-black: #000;

$color-success: #029702;
$color-failed: #c41b1b;

//FONTS
$font-logo-styles:'Black Ops One';
$font-styles:'Josefin Sans';